/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h2,
h3 {
    font-weight: 800;
}

/* UTILITY */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt75 {
    margin-top: 75px;
}

.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

.btnOrange {
    background-color: #FFA837;
}

.btnBlue {
    background-color: #556EED;
}

.btnWhite {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.textCenter {
    text-align: center;
} 
/* HERO */
.hero {
    background-image: url('../img/1-hero-image.png');
    height: 814px;
    background-size: cover;
    color: #fff;
    padding: 25px;
}

/* HEADER */
.hero .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
} 

.hero .container header .navbar .navlinks {
    display: flex;
    list-style: none;
    align-items: center;
}

.hero .container header .navbar .navlinks li a {
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    font-size: 14px;
}

.hero .container header .navbar .navlinks li a:focus,
.hero .container header .navbar .navlinks li a:active {
    color: #FFA837;
}

.hero .container header .navbar .navlinks li a:hover {
    color: #556EED;
}

.hero .container header .navbar .navlinks li:nth-child(5) a:after {
    content: 'APPLY';
    font-size: 12px;
    font-weight: 600;
    color: #FFA834;
    border: 1px solid #FFA834;
    border-radius: 4px;
    padding: 3px 5px;
    margin-left: 5px;
} 

/* SEM */
.hero .container .sem {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.hero .container .sem h1 {
    font-size: 50px;
    margin-top: 150px;
}

.hero .container .sem p {
    font-size: 16px;
}

.hero .container .sem .semBtn {
    display: flex;
}

.hero .container .sem .semBtn .btnOrange {
    margin-right: 20px;
}

/* MEET */
.meet {
    height: 1350px;
    background-color: #F7F8FA;
}

.meet .container {
    background-image: url('../img/agency-seo-desk-front-1200x570.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
}

/* MEETAGENCY */
.meet .container .meetAgency {
    text-align: center;
}

.meet .container .meetAgency h2 {
    padding-top: 120px;
}

.meet .container .meetAgency p {
    line-height: 32px;
}

/* OBJECTIVES */
.meet .container .objectives {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.meet .container .objectives .objBox {
    flex-basis: 350px;
    height: 350px;
    background-color: #fff;
    padding: 50px 5px;
}

.meet .container .objectives .objBox i {
    color: #FFA837;
    font-size: 32px;
    margin-bottom: 50px;
}

.meet .container .objectives .objBox p {
    font-size: 14px;
    line-height: 32px;
}

/* SERVICES */
.services {
    height: 950px;
    background-color: #051745;
    background-image: url('../img/pattern_background.png');
    color: #fff;
}

.services .topServices {
    padding-top: 120px;
    text-align: center;
}

.services .topServices p {
    line-height: 32px;
}

/* SERVICES FOUR BOXES */
.services .servicesBoxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.services .servicesBoxes .serviceBox {
    height: 400px;
    flex-basis: 255px;
    background-color: #071B50;
}

.services .servicesBoxes .serviceBox i {
    color: #FFA837;
    font-size: 32px;
    margin: 50px 0;
}

.services .servicesBoxes .serviceBox p {
    line-height: 28px;
    margin: 20px 0;
    font-size: 14px;
}

.services .servicesBoxes .serviceBox a {
    text-decoration: none;
    color: #FFA837;
}

.services .servicesBoxes .serviceBox a i {
    margin: 0;
    font-size: 12px;
}

.services .servicesBoxes .serviceBox a:hover,
.services .servicesBoxes .serviceBox a:hover i {
    color: #556EED;
}

/* OURWORK */
.ourWork {
    background-color: #F7F8FA;
    height: 1200px;
}

.ourWork h2 {
    color: #000;
    padding-top: 120px;
}

.ourWork p {
    color: #5E5F64;
    line-height: 32px;
    margin-bottom: 75px;
}

.ourWork .caseStudy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ourWork .caseStudy img {
    width: 380px;
}

.ourWork button {
    margin: 75px 0 120px;
}

/* OURPLANS */
.ourPlans {
    background-image:url('../img/background1.jpg');
    height: 900px;
}

.ourPlans h2 {
    color: #fff;
    padding-top: 120px;
}

.ourPlans p {
    color: #fff;
    line-height: 32px;
    margin-bottom: 75px;
}

.ourPlans .plans {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* OURPLANS BOXES */
.ourPlans .plans .plansBox {
    height: 470px;
    flex-basis: 300px;
    background-color: #fff;
    padding: 30px;
}

.ourPlans .plans .plansBox .price {
    padding-right: 20px;
}

.ourPlans .plans .plansBox .price i {
    transform: translateY(-100%);
}

.ourPlans .plans .plansBox .price span {
    position: relative;
    font-size: 50px;
    display: inline-block;
    font-weight: 900;
    color: #5F7AFD;
}

.ourPlans .plans .plansBox h4 {
    color: #5d5e5f;
}

.ourPlans .plans .plansBox .price span::before {
    content: '99';
    position: absolute;
    top: 15%;
    right: -30%; 
    font-size: 16px;
} 

.ourPlans .plans .plansBox .price span::after {
    content: 'monthly';
    position: absolute;
    bottom: 15%;
    right: -100%; 
    font-size: 14px;
    font-style: italic;
    color: #868686;
}

/* OURNEWS */
.ourNews {
    height: 980px;
    background-color: #F7F8FA;
    padding-top: 120px;
}

.ourNews p {
    line-height: 32px;
}

.ourNewsBoxes {
    display: flex;
    justify-content: space-between;
}

.ourNewsBoxes .ourNewsBox img {
    width: 350px;
}

.ourNewsBoxes .ourNewsBox h4 {
    color: #FFA837;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 22px;
}

.ourNewsBoxes .ourNewsBox p:nth-child(3) {
    font-size: 12px;
}

/* WHAT CLIENTS SAY */
.whatClients {
    height: 880px;
    background-color: #fff;
    padding-top: 120px;
}

.whatClients .selectImg img {
    border-radius: 50%;
}

.whatClients .container p:nth-child(3) {
    line-height: 32px;
}

.whatClients .clients {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #E9E8EE ;
}

.whatClients .clients .logoClient img {
    width: 120px;
}

/* START CONSULTATION */
.startConsultation {
    height: 500px;
    background-image: url('../img/case-study-gallery-3-1.jpg');
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
    position: relative;
}

.startConsultation .startOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding-top: 120px;
    color: #fff;
}

.startConsultation .startOverlay p {
    line-height: 32px;
    font-size: 22px;
}

/* FOOTER */
footer {
    height: 340px;
    background-color: #F7F8FA;
    position: relative;
}

footer .footerLinks {
    display: flex;
}

footer .copyright {
    display: flex;
}

footer .social {
    display: flex;
}