/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 28px;
}

h2,
h3 {
    font-weight: 800;
}

/* UTILITY */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.mt30 {
    margin-top: 30px;
}

.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

.orange {
    background-color: #FFA837;
}

.blue {
    background-color: #556EED;
}

/* HERO */
.hero {
    background-image: url('../img/1-hero-image.png');
    height: 814px;
    background-size: cover;
    color: #fff;
    padding: 25px;
}

/* HEADER */
.hero .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
} 

.hero .container header .navbar .navlinks {
    display: flex;
    list-style: none;
    align-items: center;
}

.hero .container header .navbar .navlinks li a {
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    font-size: 14px;
}

.hero .container header .navbar .navlinks li a:focus,
.hero .container header .navbar .navlinks li a:active {
    color: #FFA837;
}

.hero .container header .navbar .navlinks li a:hover {
    color: #556EED;
}

.hero .container header .navbar .navlinks li:nth-child(5) a:after {
    content: 'APPLY';
    font-size: 12px;
    font-weight: 600;
    color: #FFA834;
    border: 1px solid #FFA834;
    border-radius: 4px;
    padding: 3px 5px;
    margin-left: 5px;
} 

/* SEM */
.hero .container .sem {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.hero .container .sem h1 {
    font-size: 50px;
    margin-top: 150px;
}

.hero .container .sem p {
    font-size: 16px;
}

.hero .container .sem .semBtn {
    display: flex;
}

.hero .container .sem .semBtn .orange {
    margin-right: 20px;
}

/* MEET */
.meet {
    height: 1350px;
    background-color: #F8F8F8;
}

.meet .container {
    background-image: url('../img/agency-seo-desk-front-1200x570.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
}

/* MEETAGENCY */
.meet .container .meetAgency {
    text-align: center;
}

.meet .container .meetAgency h2 {
    padding-top: 120px;
}

.meet .container .meetAgency p {
    line-height: 28px;
}

/* OBJECTIVES */
.meet .container .objectives {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.meet .container .objectives .objBox {
    flex-basis: 350px;
    height: 350px;
    background-color: #fff;
    padding: 50px 5px;
}

.meet .container .objectives .objBox i {
    color: #FFA837;
    font-size: 32px;
    margin-bottom: 50px;
}

.meet .container .objectives .objBox p {
    font-size: 14px;
    line-height: 32px;
}

/* SERVICES */
.services {
    height: 950px;
    background-color: #051745;
    background-image: url('../img/pattern_background.png');
    color: #fff;

}

.services .topServices {
    padding-top: 120px;
    text-align: center;
}

/* SERVICES FOUR BOXES */
.services .servicesBoxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.services .servicesBoxes .serviceBox {
    height: 400px;
    flex-basis: 255px;
    background-color: #071B50;
}

.services .servicesBoxes .serviceBox i {
    color: #FFA837;
    font-size: 32px;
    margin: 50px 0;
}

.services .servicesBoxes .serviceBox p {
    line-height: 28px;
    margin: 20px 0;
    font-size: 14px;
}

.services .servicesBoxes .serviceBox a {
    text-decoration: none;
    color: #FFA837;
}

.services .servicesBoxes .serviceBox a i {
    margin: 0;
    font-size: 12px;
}

.services .servicesBoxes .serviceBox a:hover,
.services .servicesBoxes .serviceBox a:hover i {
    color: #556EED;
}