/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h2,
h3 {
    font-weight: 800;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body #app .hideFooter {
    position: relative;
    margin-bottom: 320px;
    z-index: 2;
}
/* HIDE HEROES */
body #app .hideFooter .hide {
    display: none;
}

/* UTILITY */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt75 {
    margin-top: 75px;
}

.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.btnOrange {
    background-color: #FFA837;
}

.btnBlue {
    background-color: #556EED;
}

.btnWhite {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.textCenter {
    text-align: center;
} 

/* BUTTON HOVER */
.btn:hover {
    opacity: 0.7;
    transition: 0.4s;
}

.btnWhite:hover {
    color: #5F7AFD;
    border-color: #5F7AFD;
    transition: 0.4s;
}
/* PREV NEXT */
.hideFooter .prev {
    position: absolute;
    top: 407px;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #464646;
    font-size: 30px;
}

.hideFooter .prev i {
    color: #fff;
}

.hideFooter .prev:hover {
    background-color: #FFA837;
    transition: 0.4s;
}

.hideFooter .next {
    position: absolute;
    top: 407px;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #464646;
    font-size: 30px;
}

.hideFooter .next i {
    color: #fff;
}

.hideFooter .next:hover {
    background-color: #FFA837;
    transition: 0.4s;
}

/* HERO 0*/
.hero {
    background-image: url('../img/1-hero-image.png');
    height: 814px;
    background-size: cover;
    color: #fff;
    padding: 25px;
}

/* HEADER */
.hero .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
} 

.hero .container header .navbar .navlinks {
    display: flex;
    list-style: none;
    align-items: center;
}

.hero .container header .navbar .navlinks li a {
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    font-size: 14px;
}

.hero .container header .navbar .navlinks li:first-child a {
    color: #FFA834;
}

.hero .container header .navbar .navlinks li:nth-child(5) a::after {
    content: 'APPLY';
    font-size: 12px;
    font-weight: 600;
    color: #FFA834;
    border: 1px solid #FFA834;
    border-radius: 4px;
    padding: 3px 5px;
    margin-left: 5px;
} 

.hero .container header .navbar .navlinks li:last-child a {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    background-color: #FFA837;
    font-weight: 700;
    cursor: pointer;
}

/* NAVBAR LINKS HOVER */
.hero .container header .navbar .navlinks li a:hover {
    color: #FFA834;
    transition: 0.4s;
}

.hero .container header .navbar .navlinks li:last-child a:hover {
    color: #fff;
    opacity: 0.7;
    transition: 0.4s;
}

/* SEM 0*/
.hero .container .sem {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

@keyframes h1-sem0-SlideFade {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero .container .sem h1 {
    font-size: 50px;
    margin-top: 150px;
    animation:  1s ease-out 0s 1 h1-sem0-SlideFade;
}

@keyframes p-sem0-SlideFade {
    0% {
        transform: translateX(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero .container .sem p {
    font-size: 16px;
    animation:  1s ease-out 0s 1 p-sem0-SlideFade;
}

@keyframes btn-sem0-SlideFade {
    0% {
        transform: translateY(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero .container .sem .semBtn {
    display: flex;
    animation:  1s ease-out 0s 1 btn-sem0-SlideFade;
}

.hero .container .sem .semBtn .btnOrange {
    margin-right: 20px;
    animation:  1s ease-out 0s 1 btn-sem0-SlideFade;
}
/* HERO 1*/
.hero1 {
    background-image: linear-gradient(to right, #5538e8, #35bbe6);
    height: 814px;
    background-size: cover;
    color: #fff;
    padding: 25px;
    position: relative;
}

.hero1::before {
    content: '';
    background-image: url('../img/pattern_background.png');
    position: absolute;
    top: 0;
    left: 10%;
    width: 1170px;
    height: 814px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* HEADER */
.hero1 .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
} 

.hero1 .container header .navbar .navlinks {
    display: flex;
    list-style: none;
    align-items: center;
}

.hero1 .container header .navbar .navlinks li a {
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    font-size: 14px;
}

.hero1 .container header .navbar .navlinks li:first-child a {
    color: #FFA834;
}

.hero1 .container header .navbar .navlinks li:nth-child(5) a::after {
    content: 'APPLY';
    font-size: 12px;
    font-weight: 600;
    color: #FFA834;
    border: 1px solid #FFA834;
    border-radius: 4px;
    padding: 3px 5px;
    margin-left: 5px;
} 

.hero1 .container header .navbar .navlinks li:last-child a {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    background-color: #FFA837;
    font-weight: 700;
    cursor: pointer;
}

/* NAVBAR LINKS HOVER */
.hero1 .container header .navbar .navlinks li a:hover {
    color: #FFA834;
    transition: 0.4s;
}

.hero1 .container header .navbar .navlinks li:last-child a:hover {
    color: #fff;
    opacity: 0.7;
    transition: 0.4s;
}

/* SEM 1*/
.hero1 .container .sem1Slide {
    display: flex;
}

.hero1 .container .sem {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

@keyframes h1-sem1-SlideFade {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero1 .container .sem h1 {
    font-size: 50px;
    margin-top: 150px;
    animation:  1s ease-out 0s 1 h1-sem1-SlideFade;
}

@keyframes p-sem1-SlideFade {
    0% {
        transform: translateX(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero1 .container .sem p {
    font-size: 16px;
    animation:  1s ease-out 0s 1 p-sem1-SlideFade;
}

@keyframes btn-sem1-SlideFade {
    0% {
        transform: translateY(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero1 .container .sem .semBtn {
    display: flex;
    animation:  1s ease-out 0s 1 btn-sem1-SlideFade;
}

.hero1 .container .sem .semBtn .btnOrange {
    margin-right: 20px;
    animation:  1s ease-out 0s 1 btn-sem1-SlideFade;
}

@keyframes img-sem1-SlideFade {
    0% {
        transform: translateX(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero1 .container .sem1Slide .sem1Img {
    padding-top: 100px;
    padding-left: 100px;
    animation:  1s ease-out 0s 1 img-sem1-SlideFade;
}
/* HERO 2*/
.hero2 {
    background-image: linear-gradient(to right, #140369, #945aeb);
    height: 814px;
    background-size: cover;
    color: #fff;
    padding: 25px;
}

.hero2::before {
    content: '';
    background-image: url('../img/pattern_background.png');
    position: absolute;
    top: 0;
    left: 10%;
    width: 1170px;
    height: 814px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* HEADER */
.hero2 .container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
} 

.hero2 .container header .navbar .navlinks {
    display: flex;
    list-style: none;
    align-items: center;
}

.hero2 .container header .navbar .navlinks li a {
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    font-size: 14px;
}

.hero2 .container header .navbar .navlinks li:first-child a {
    color: #FFA834;
}

.hero2 .container header .navbar .navlinks li:nth-child(5) a::after {
    content: 'APPLY';
    font-size: 12px;
    font-weight: 600;
    color: #FFA834;
    border: 1px solid #FFA834;
    border-radius: 4px;
    padding: 3px 5px;
    margin-left: 5px;
} 

.hero2 .container header .navbar .navlinks li:last-child a {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #fff;
    background-color: #FFA837;
    font-weight: 700;
    cursor: pointer;
}

/* NAVBAR LINKS HOVER */
.hero2 .container header .navbar .navlinks li a:hover {
    color: #FFA834;
    transition: 0.4s;
}

.hero2 .container header .navbar .navlinks li:last-child a:hover {
    color: #fff;
    opacity: 0.7;
    transition: 0.4s;
}

/* SEM 2*/
.hero2 .container .sem2Slide {
    display: flex;
}

.hero2 .container .sem {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

@keyframes h1-sem2-SlideFade {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero2 .container .sem h1 {
    font-size: 50px;
    margin-top: 150px;
    animation:  1s ease-out 0s 1 h1-sem2-SlideFade;
}

@keyframes p-sem2-SlideFade {
    0% {
        transform: translateX(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero2 .container .sem p {
    font-size: 16px;
    animation:  1s ease-out 0s 1 p-sem1-SlideFade;
}

@keyframes btn-sem2-SlideFade {
    0% {
        transform: translateY(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero2 .container .sem .semBtn {
    display: flex;
    animation:  1s ease-out 0s 1 btn-sem2-SlideFade;
}

.hero2 .container .sem .semBtn .btnOrange {
    margin-right: 20px;
    animation:  1s ease-out 0s 1 btn-sem2-SlideFade;
}

@keyframes img-sem2-SlideFade {
    0% {
        transform: translateX(+50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        transform: scale(0.8);
    }
}

.hero2 .container .sem2Slide .sem2Img {
    padding-top: 60px;
    padding-left: 120px;
    transform: scale(0.8);
    animation:  1s ease-out 0s 1 img-sem2-SlideFade;
}

/* MEET */
.meet {
    height: 1350px;
    background-color: #F7F8FA;
}

.meet .container {
    background-image: url('../img/agency-seo-desk-front-1200x570.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
}

/* MEETAGENCY */
.meet .container .meetAgency {
    text-align: center;
}

.meet .container .meetAgency h2 {
    padding-top: 120px;
}

.meet .container .meetAgency p {
    line-height: 32px;
}

/* OBJECTIVES */
.meet .container .objectives {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.meet .container .objectives .objBox {
    flex-basis: 350px;
    height: 350px;
    background-color: #fff;
    padding: 50px 5px;
}

.meet .container .objectives .objBox .objBoxHover .objAnimation {
    width: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.meet .container .objectives .objBox .objBoxHover .objAnimation i {
    color: #FFA837;
    font-size: 32px;
    margin-bottom: 50px;
    padding: 20px 20px 0;
}

.meet .container .objectives .objBox p {
    font-size: 14px;
    line-height: 32px;
}

/* OBJECTIVES HOVER */
.meet .container .objectives .objBox .objBoxHover:hover {
    color: #FFA834;
    transition: 0.4s;
}

@keyframes fadeIconMeet {
    0%   {
        transform: translateX(0);
        opacity: 1;
    }
    25%  {
        transform: translateX(-150px);
        opacity: 0;
    }
    50%  {
        transform: translateX(+150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }    
}

.meet .container .objectives .objBox .objBoxHover:hover i {
    animation-name: fadeIconMeet;
    animation-duration: 0.5s;
  }

/* SERVICES */
.services {
    height: 950px;
    background-color: #051745;
    background-image: url('../img/pattern_background.png');
    color: #fff;
}

.services .topServices {
    padding-top: 120px;
    text-align: center;
}

.services .topServices p {
    line-height: 32px;
}

/* SERVICES FOUR BOXES */
.services .servicesBoxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.services .servicesBoxes .serviceBox {
    height: 400px;
    flex-basis: 255px;
    background-color: #071B50;
}

.services .servicesBoxes .serviceBoxHover .serviceBoxAnimation {
    width: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.services .servicesBoxes .serviceBox .serviceBoxHover .serviceBoxAnimation i {
    color: #FFA837;
    font-size: 32px;
    margin: 50px 0;
}

.services .servicesBoxes .serviceBox p {
    line-height: 28px;
    margin: 20px 0;
    font-size: 14px;
}

.services .servicesBoxes .serviceBox a {
    text-decoration: none;
    color: #FFA837;
}

.services .servicesBoxes .serviceBox a i {
    margin: 0;
    font-size: 12px;
}

/* SERVICES HOVER */
.services .servicesBoxes a:hover,
.services .servicesBoxes .serviceBox .serviceBoxHover:hover {
    color: #FFA834;
    transition: 0.4s;
    cursor: pointer;
}

@keyframes fadeIconServices {
    0%   {
        transform: translateX(0);
        opacity: 1;
    }
    25%  {
        transform: translateX(-150px);
        opacity: 0;
    }
    50%  {
        transform: translateX(+150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }    
}

.services .servicesBoxes .serviceBox .serviceBoxHover:hover i {
    animation-name: fadeIconServices;
    animation-duration: 0.5s;
  }

/* OURWORK */
.ourWork {
    background-color: #F7F8FA;
    height: 1200px;
}

.ourWork h2 {
    color: #000;
    padding-top: 120px;
}

.ourWork p {
    color: #5E5F64;
    line-height: 32px;
    margin-bottom: 75px;
}

.ourWork .caseStudy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ourWork .caseStudy img {
    width: 380px;
}

.ourWork button {
    margin: 75px 0 120px;
}

/* OURWORK HOVER */
.ourWork .caseStudy .workOverlay {
    position: relative;
}

.ourWork .caseStudy .workOverlay::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #5F7AFD;
    opacity: 0;
}

.ourWork .caseStudy .workOverlay::after {
    content: '\f0c1';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    font-size: 32px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    font-weight: 900;
}

.ourWork .caseStudy .workOverlay:hover:before {
    opacity: 0.5;
    transition: 0.4s;
    cursor: pointer;
}

.ourWork .caseStudy .workOverlay:hover:after {
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
}

/* OURPLANS */
.ourPlans {
    background-image:url('../img/background1.jpg');
    height: 900px;
}

.ourPlans h2 {
    color: #fff;
    padding-top: 120px;
}

.ourPlans p {
    color: #fff;
    line-height: 32px;
    margin-bottom: 75px;
}

.ourPlans .plans {
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* OURPLANS BOXES */
.ourPlans .plans .plansBox {
    height: 470px;
    flex-basis: 300px;
    background-color: #fff;
    padding: 30px;
}

.ourPlans .plans .plansBox .price {
    padding-right: 20px;
}

.ourPlans .plans .plansBox .price i {
    transform: translateY(-100%);
}

.ourPlans .plans .plansBox .price span {
    position: relative;
    font-size: 50px;
    display: inline-block;
    font-weight: 900;
    color: #5F7AFD;
}

.ourPlans .plans .plansBox h4 {
    color: #5d5e5f;
}

.ourPlans .plans .plansBox .price span::before {
    content: '99';
    position: absolute;
    top: 15%;
    right: -30%; 
    font-size: 16px;
} 

.ourPlans .plans .plansBox .price span::after {
    content: 'monthly';
    position: absolute;
    bottom: 15%;
    right: -100%; 
    font-size: 14px;
    font-style: italic;
    color: #868686;
}

/* OURPLANS HOVER */
.ourPlans .plans .plansBox:hover {
    cursor: pointer;
}

/* OURNEWS */
.ourNews {
    height: 980px;
    background-color: #F7F8FA;
    padding-top: 120px;
}

.ourNews p {
    line-height: 32px;
}

.ourNewsBoxes {
    display: flex;
    justify-content: space-between;
}

.ourNewsBoxes .ourNewsBox .newsImg {
    width: 350px;
    height: 220px;
    overflow: hidden;
}

.ourNewsBoxes .ourNewsBox img {
    width: 350px;
}

.ourNewsBoxes .ourNewsBox h4 {
    color: #FFA837;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 22px;
}

.ourNewsBoxes .ourNewsBox p:nth-child(3) {
    font-size: 12px;
}

/* OURNEWS HOVER */
.ourNewsBoxes .ourNewsBox:hover img {
    transform: scale(1.2);
    transition: 0.8s;
    cursor: pointer;
}

.ourNewsBoxes .ourNewsBox h4:hover {
    cursor: pointer;
}

/* WHAT CLIENTS SAY */
.whatClients {
    height: 880px;
    background-color: #fff;
    padding-top: 120px;
}

.whatClients .selectImg img {
    border-radius: 50%;
}

.whatClients .container p:nth-child(3) {
    line-height: 32px;
    font-weight: 600;
    width: 600px;
    margin: 30px auto;
}

.whatClients .container p:nth-child(4) {
    font-weight: 700;
}

.whatClients .container i {
    padding: 5px;
}

.whatClients .clients {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #E9E8EE ;
}

.whatClients .clientNav i {
    cursor: pointer;
}

.whatClients .clientNav .selected {
    background-color: black;
    border-radius: 50%;
    transform: scale(0.5);
}

.whatClients .clients .logoClient img {
    width: 120px;
}

.whatClients .clients .hide {
    display: none;
}

/* START CONSULTATION */
.startConsultation {
    height: 500px;
    background-image: url('../img/case-study-gallery-3-1.jpg');
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
    position: relative;
}

.startConsultation .startOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding-top: 120px;
    color: #fff;
}

.startConsultation .startOverlay p {
    line-height: 32px;
    font-size: 22px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 320px;
    background-color: #F7F8FA;
    position: fixed;
    bottom: 0;
}

.footer .container img {
    font-size: 35px;
}

/* FOOTER LINKS */
footer .footerLinks {
    display: flex;
    justify-content: space-between;
    width: 840px;
    margin: 50px auto 50px;
}

footer .footerLinks a {
    color: #5E5F63;
    font-weight: 600;
}

footer .footerLinks li:first-child a {
    color: #FFA837;
}

/* FOOTER COPYRIGHT */
footer .copyright {
    display: flex;
    width: 800px;
    margin: 50px auto 30px;
    font-size: 14px;
}

footer .copyright li {
    color: #909195;
    border-right: 2px solid #909195;
    padding-right: 20px;
    padding-left: 20px;
}

footer .copyright li i {
    padding-left: 30px;
}

footer .copyright li:last-child {
    border: none;
}

footer .copyright li b {
    color: #000;
    margin-left: 5px;
}

/* FOOTER SOCIAL */
footer .social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 30px auto 0;
}

footer .social li a {
    color: #595A5F;
    font-size: 20px;
}

/* FOOTER HOVER */
footer .footerLinks li a:hover {
    color: #FFA837;
    transition: 0.4s;
}

footer .copyright li a:hover b {
    color: #FFA837;
    transition: 0.4s;
}

footer .social a:hover {
    opacity: 0.5;
    transition: 0.4s;
}

/* CALL TO ACTION */
.callToAction1 {
    position: fixed;
    right: 5%;
    top: 200px;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: #fff;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 3;
    overflow: hidden;
    text-align: center;
}

.callToAction1 .demos {
    display: flex;
}

.callToAction1 .demos i {
    font-size: 40px;
    padding: 5px;
    padding: 10px 15px 0;
    color: #868686;
}

.callToAction1 p {
    color: #868686;
    font-weight: 900;
}

@keyframes switchCTA1 {
    0%   {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70px);
    }    
}

.callToAction1:hover {
    cursor: pointer;    
}

.callToAction1:hover .demos i {
    animation: 0.2s ease-out 0s 1 switchCTA1;
    animation-fill-mode: forwards;
}

.callToAction2 {
    position: fixed;
    right: 5%;
    top: 280px;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background-color: #fff;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 3;
    overflow: hidden;
    text-align: center;
}

.callToAction2 .shop {
    display: flex;
}


.callToAction2 .shop .dollar p {
    color: aquamarine;
    font-size: 30px;
    position: relative;
    padding: 10px 20px 0;
}

.callToAction2 .shop .dollar i {
    color: aquamarine;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: -10px;
}

.callToAction2 .shop i {
    font-size: 40px;
    padding: 5px;
    padding: 10px 15px 0;
    color: #868686;
} 

.callToAction2 p {
    color: #868686;
    font-weight: 900;
}

@keyframes switchCTA2 {
    0%   {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80px);
    }    
}

.callToAction2:hover {
    cursor: pointer;    
}

.callToAction2:hover .shop {
    animation: 0.2s ease-out 0s 1 switchCTA2;
    animation-fill-mode: forwards;
}

/* TO THE TOP */
.toTheTop {
    position: fixed;
    bottom: 0;
    right: 10%;
    height: 50px;
    width: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.toTheTop i {
    font-size: 30px;
    color: #fff;
}

/* TOTHETOP HOVER */
.toTheTop:hover {
    background-color: #FFA837;
    transition: 0.4s;
}