<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- VUE -->
    <div id='app'>
        <!-- HERO -->
        <section class="hero">
            <!-- CONTAINER -->
            <div class="container">
                <!-- HEADER -->
                <header>
                    <a href="https://avada.theme-fusion.com/seo/" target="blank">
                        <img src="./img/logo_seo_w_1x.png" alt="logo seo" class="logo">
                    </a>
                    <!-- NAVBAR -->
                    <nav class="navbar">
                        <ul class="navlinks">
                            <li v-for='link in links'>
                                <a href="#">{{ link }}</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <!-- SEM -->
                <div class="sem">
                    <h1>
                        SEM Campaigns Made<br>Simple With Avada
                    </h1>
                    <p class="mt30">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>Phasellum eu ornare erat. Curabitur pulvinar elit.
                    </p>
                    <!-- SEM BUTTONS -->
                    <div class="semBtn mt30">
                        <a href="#">
                            <button class="btn btnOrange">
                                BUY AVADA NOW
                            </button>
                        </a>
                        <a href="#">
                            <button class="btn btnBlue">
                                CONTACT US
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- MEET -->
        <section class="meet">
            <div class="container">
                <!-- MEETAGENCY -->
                <div class="meetAgency">
                    <h2>
                        Meet The New Agency SEO Template<br>From The Avada Team
                    </h2>
                    <p class="mt30">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br>accusantium doloremque laudantium.
                    </p>
                </div>
                <!-- OBJECTIVES THREE BOXES -->
                <div class="objectives">
                    <div class="objBox">
                        <div class="objBoxHover">
                            <div class="objAnimation">
                                <i class="fas fa-road"></i>
                            </div>
                            <h3>
                                Establish Goals
                            </h3>
                        </div>
                        <p class="mt30">
                            Aliquam non elit lacus. Praesent aliquet,<br>ipsum id scelerisque convallis, mi ligula<br>euismod odio, vel dictum mi risus a mi.
                        </p>
                    </div>
                    <div class="objBox">
                        <div class="objBoxHover">
                            <div class="objAnimation">
                                <i class="fas fa-video"></i>
                            </div>
                            <h3>
                                Work With a Team
                            </h3>
                        </div>
                        <p class="mt30">
                            Cras semper auctor aliquam. Sed aemper sed<br>lacus sit amet consectetur. Lorem ipsum<br>dolor sit amet, cosectetur adipiscin.
                        </p>
                    </div>
                    <div class="objBox">
                        <div class="objBoxHover">
                            <div class="objAnimation">
                                <i class="fas fa-tint"></i>
                            </div>
                            <h3>
                                Get Results
                            </h3>
                        </div>
                        <p class="mt30">
                            Vestibulum scelerisque egestas lectus sit <br>amet molestie. Donec consectetur cursus<br>est set blandit. Nunc sed risus lacus. 
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- SERVICES -->
        <section class="services">
            <div class="container">
                <!-- TOPSERVICES -->
                <div class="topServices">
                    <h2>
                        See Our Top Notch Services
                    </h2>
                    <p class="mt30">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br>accusantium doloremque laudantium.
                    </p>
                </div>
                <!-- SERVICEBOXES FOUR BOXES -->
                <div class="servicesBoxes">
                    <div class="serviceBox">
                        <div class="serviceBoxHover">
                            <div class="serviceBoxAnimation">
                                <i class="fab fa-google"></i>
                            </div>
                            <h3>
                                Google SEO
                            </h3>
                        </div>
                        <p>
                            Vestibulum in lacinia metus.<br>Suspendisse in enim ipsum.<br>Nulla facilisi. Donec ante<br>turpis, dictum sed magna et,<br>daupibus faucibus odio.
                        </p>
                        <a href="#">
                            Read More <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="serviceBox">
                        <div class="serviceBoxHover">
                            <div class="serviceBoxAnimation">
                                <i class="fas fa-cog"></i>
                            </div>
                            <h3>
                                Brand Strategy
                            </h3>
                        </div>
                        <p>
                            Vestibulum in lacinia metus.<br>Suspendisse in enim ipsum.<br>Nulla facilisi. Donec ante<br>turpis, dictum sed magna et,<br>daupibus faucibus odio.
                        </p>
                        <a href="#">
                            Read More <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="serviceBox">
                        <div class="serviceBoxHover">
                            <div class="serviceBoxAnimation">
                                <i class="fas fa-building"></i>
                            </div>
                            <h3>
                                Local SEO
                            </h3>
                        </div>
                        <p>
                            Vestibulum in lacinia metus.<br>Suspendisse in enim ipsum.<br>Nulla facilisi. Donec ante<br>turpis, dictum sed magna et,<br>daupibus faucibus odio.
                        </p>
                        <a href="#">
                            Read More <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="serviceBox">
                        <div class="serviceBoxHover">
                            <div class="serviceBoxAnimation">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h3>
                                SEO Analysis
                            </h3>
                        </div>
                        <p>
                            Vestibulum in lacinia metus.<br>Suspendisse in enim ipsum.<br>Nulla facilisi. Donec ante<br>turpis, dictum sed magna et,<br>daupibus faucibus odio.
                        </p>
                        <a href="#">
                            Read More <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <!-- OURWORK -->
        <section class="ourWork">
            <div class="container textCenter">
                <h2>
                    Our Work
                </h2>
                <p class="mt30">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br>accusantium doloremque laudantium.
                </p>
                <div class="caseStudy">
                    <div class="workOverlay">
                        <img src="./img/case-study-gallery-3-1-400x300.jpg" alt="desk with a notebook">
                    </div>
                    <div class="workOverlay">
                        <img src="./img/case-study-gallery-2-400x300.jpg" alt="smartphone">
                    </div>
                    <div class="workOverlay">
                        <img src="./img/case-study-gallery-1-1-400x300.jpg" alt="analysis chart">
                    </div>
                </div>
                <div class="caseStudy">
                    <div class="workOverlay">
                        <img src="./img/case-study-gallery-4-1-400x300.jpg" alt="analysis chart">
                    </div>
                    <div class="workOverlay">
                        <img src="./img/case-study-gallery-5-1-400x300.jpg" alt="analysis chart">
                    </div>
                    <div class="workOverlay">
                        <img src="./img/case-study-gallery-6-1-400x300.jpg" alt="analysis chart">
                    </div>
                </div>
                <button class="btn btnOrange">
                    VIEW OUR WORK
                </button>
            </div>
        </section>
        <!-- OURPLANS -->
        <section class="ourPlans">
            <div class="textCenter">
                <h2>
                    Our Plans
                </h2>
                <p class="mt30">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br>accusantium doloremque laudantium.
                </p>
                <div class="plans">
                    <!-- BOX STANDARD -->
                    <div class="plansBox">
                        <h3>
                            Standard
                        </h3>
                        <div class="price mt50">
                            <i class="fas fa-dollar-sign"></i>
                            <span>19</span>
                        </div>
                        <h4 class="mt40">
                            5 Projects
                        </h4>
                        <h4 class="mt30">
                            5 GB Storage
                        </h4>
                        <h4 class="mt30">
                            Unlimited Users
                        </h4>
                        <button class="btn btnWhite mt30">
                            START TODAY
                        </button>
                    </div>
                    <!-- BOX PREMIUM -->
                    <div class="plansBox">
                        <h3>
                            Premium
                        </h3>
                        <div class="price mt50">
                            <i class="fas fa-dollar-sign"></i>
                            <span>29</span>
                        </div>
                        <h4 class="mt40">
                            10 Projects
                        </h4>
                        <h4 class="mt30">
                            15 GB Storage
                        </h4>
                        <h4 class="mt30">
                            Unlimited Users
                        </h4>
                        <button class="btn btnWhite mt30">
                            START TODAY
                        </button>
                    </div>
                    <!-- BOX PROFESSIONAL -->
                    <div class="plansBox">
                        <h3>
                            Professional
                        </h3>
                        <div class="price mt50">
                            <i class="fas fa-dollar-sign"></i>
                            <span>39</span>
                        </div>
                        <h4 class="mt40">
                            15 Projects
                        </h4>
                        <h4 class="mt30">
                            30 GB Storage
                        </h4>
                        <h4 class="mt30">
                            Unlimited Users
                        </h4>
                        <button class="btn btnOrange mt30">
                            START TODAY
                        </button>
                    </div>
                    <!-- BOX EXTREME -->
                    <div class="plansBox">
                        <h3>
                            Extreme
                        </h3>
                        <div class="price mt50">
                            <i class="fas fa-dollar-sign"></i>
                            <span>59</span>
                        </div>
                        <h4 class="mt40">
                            Unlimited Projects
                        </h4>
                        <h4 class="mt30">
                            Unlimited Storage
                        </h4>
                        <h4 class="mt30">
                            Unlimited Users
                        </h4>
                        <button class="btn btnWhite mt30">
                            START TODAY
                        </button>
                    </div>
                </div>
            </div>

        </section>
        <!-- OURNEWS -->
        <section class="ourNews">
            <div class="container textCenter">
                <h2>
                    Our News
                </h2>
                <p class="mt30">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br>accusantium doloremque laudantium.
                </p>
                <div class="ourNewsBoxes mt75">
                    <div class="ourNewsBox">
                        <div class="newsImg">
                            <img src="./img/related-service-2-320x202.jpg" alt="office">
                        </div>
                        <h4 class="mt30">
                            Why You Need A SEO Agency Now
                        </h4>
                        <p>
                            November 1st, 2017
                        </p>
                        <p class="mt30">
                            Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit. In et scelerisque sem. Nunc molestie neque<br>augue, at gravida mi blandit 
                        </p>
                    </div>
                    <div class="ourNewsBox">
                        <div class="newsImg">
                            <img src="./img/related-service-4-320x202.jpg" alt="monitor oon a desk">
                        </div>
                        <h4 class="mt30">
                            Why You Need A SEO Agency Now
                        </h4>
                        <p>
                            November 1st, 2017
                        </p>
                        <p class="mt30">
                            Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit. In et scelerisque sem. Nunc molestie neque<br>augue, at gravida mi blandit 
                        </p>
                    </div>
                    <div class="ourNewsBox">
                        <div class="newsImg">
                            <img src="./img/blog-post-6-320x202.jpg" alt="blog post">
                        </div>
                        <h4 class="mt30">
                            Why You Need A SEO Agency Now
                        </h4>
                        <p>
                            November 1st, 2017
                        </p>
                        <p class="mt30">
                            Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit. In et scelerisque sem. Nunc molestie neque<br>augue, at gravida mi blandit 
                        </p>
                    </div>
                </div>
                <button class="btn btnOrange mt75">
                    GO TO NEWS
                </button>
            </div>
        </section>
        <!-- WHAT CLIENTS SAY -->
        <section class="whatClients">
            <div class="container textCenter">
                <h2>
                    What Our Clients Say
                </h2>
                <!-- SELECT IMAGE -->
                <div class="selectImg mt30">
                    <img src="./img/testimonials-2.jpg" alt="male testimonial">
                </div>
                <p class="mt30">
                    <em>Ability proceeds from a fusion of skills, knowledge, understanding and imagination,<br>consolidated by experience.</em>
                </p>
                <p class="mt50">
                    <strong>Luis Desalvo</strong>, CREO TECH
                </p>
                <i class="far fa-circle mt30"></i>
                <i class="far fa-circle mt30"></i>
                <!-- LOGO CLIENTS -->
                <div class="clients mt50">
                    <div class="logoClient mt30">
                        <img src="./img/clients_partner_5-200x202.png" alt="avada logo">
                    </div>
                    <div class="logoClient mt30">
                        <img src="./img/clients_partner_6-200x202.png" alt="avada logo">
                    </div>
                    <div class="logoClient mt30">
                        <img src="./img/clients_partner_1-200x202.png" alt="avada logo">
                    </div>
                    <div class="logoClient mt30">
                        <img src="./img/clients_partner_2-200x202.png" alt="avada logo">
                    </div>
                </div>
            </div>
        </section>
        <!-- START CONSULTATION -->
        <section class="startConsultation">
            <div class="startOverlay">
                <div class="container textCenter">
                    <h2>
                        Start Your Free Consultation
                    </h2>
                    <p class="mt30">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem<br>accusantium doloremque laudantium.
                    </p>
                    <button class="mt50 btn btnOrange">
                        CONTACT US NOW
                    </button>
                </div>
            </div>
        </section>
        <!-- FOOTER -->
        <footer>
            <div class="container textCenter">
                <a href="https://avada.theme-fusion.com/seo/" target="blank">
                    <img src="./img/logo_seo_1x.png" alt="logo avada seo" class="mt50">
                </a>
                <!-- FOOTER LINKS -->
                <ul class="footerLinks">
                    <li v-for='link in links'>
                        <a href="#">{{ link }}</a>
                    </li>
                </ul>
                <!-- FOOTER COPYRIGHT -->
                <ul class="copyright">
                    <li>
                        <i class="far fa-copyright"></i>
                        Copyright 2012-2020
                    </li>
                    <li>
                        Avada Theme by <a href="https://theme-fusion.com/" target="blank"><b>Themefusion</b></a>
                    </li>
                    <li>
                        All Rights Reserved
                    </li>
                    <li>
                        Powered by <a href="https://it.wordpress.com/" target="blank"><b>WordPress</b></a>
                    </li>
                </ul>
                <!-- FOOTER SOCIAL -->
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/" target="blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- TO THE TOP -->
            <a href="#" class="toTheTop">
                <i class="fas fa-angle-up"></i>
            </a>
        </footer>
    </div> 
    <!-- JAVASCRIPT -->
    <script src="./js/main.js" charset="utf-8"></script>
</body>
</html>